<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <title>Interaction Pi - Location</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/masterpi">Peddy Room System</a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sensors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Interactions</a>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
            Devices
          </a>
          <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
            <a class="dropdown-item" href="/serialdevices">Serial Devices</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Interaction Pi Location</h1>
        <p>Here an administrator can change and consult the location where this Interaction Pi is currently deployed.
          In turn this will help in getting a better overview of the system in the Master Pi and help in the creation
          of the games.</p>
      </div>
    </div>
  </main>

  <form class="col-md-7 col-md-offset-7" method="post" style="margin: auto;" th:action="@{/interactionpi/manage/location/submit}">
    <h5>Current Location: <span th:text="${CurrentLocation}"></span></h5>
    <input class="form-control" name="value" placeholder="Interaction Pi Location" type="text">
    <button class="btn btn-primary" style="margin-top: 5px; width: 250px;" type="submit">Submit</button>
  </form>

</body>
</html>